/* Set Witney as default font */

@font-face {
    font-family: Whitney;
    font-style: light;
    font-weight: 300;
    src: url("https://cdn.rawgit.com/TitanEmbeds/Titan/228ba7bb/webapp/titanembeds/static/fonts/whitney_light.woff") format("woff")
}

@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 500;
    src: url("https://cdn.rawgit.com/TitanEmbeds/Titan/228ba7bb/webapp/titanembeds/static/fonts/whitney_normal.woff") format("woff")
}

@font-face {
    font-family: Whitney;
    font-style: medium;
    font-weight: 600;
    src: url("https://cdn.rawgit.com/TitanEmbeds/Titan/228ba7bb/webapp/titanembeds/static/fonts/whitney_medium.woff") format("woff")
}

@font-face {
    font-family: Whitney;
    font-style: bold;
    font-weight: 700;
    src: url("https://cdn.rawgit.com/TitanEmbeds/Titan/228ba7bb/webapp/titanembeds/static/fonts/whitney_bold.woff") format("woff")
}

* {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Set appropriate colours */
        
html body {
    background-color: #7986CB;
}

#head h1 {
    color: white;
}

#head h1 strong {
    color: white;
}

div.markdown-body h1 {
    color: white;
}

#wiki-body {
    color: white;
}

#footer p#last-edit {
    color: rgba(255, 255, 255, 0.8);
}

#wiki-body a {
    text-decoration: underline;
    color: white;
}

a.file {
    color: white;
}

/* Materialize CSS */

@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
